<h2 mat-dialog-title>Crear usuario</h2>

<form [formGroup]="userForm">
  <div mat-dialog-content>
    <div class="row">
      <div class="col-6 pt-3">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Name</mat-label>
          <mat-hint>El nombre debe tener al menos 5 caracteres</mat-hint>
          <input formControlName="firstName" matInput />
        </mat-form-field>
      </div>
      <div class="col-6 pt-3">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Lastname</mat-label>
          <mat-hint>El apellido debe tener al menos 5 caracteres</mat-hint>
          <input formControlName="lastName" matInput />
        </mat-form-field>
      </div>
      <div class="col-6 pt-3">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Career</mat-label>

          <input formControlName="career" matInput />
        </mat-form-field>
      </div>
      <div class="col-6 pt-3">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Courses</mat-label>

          <input formControlName="courses" matInput />
        </mat-form-field>
      </div>
      <div class="col-8 pt-3">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Email</mat-label>

          <input formControlName="email" matInput />
        </mat-form-field>
      </div>
      <div class="col-4 pt-3">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Email</mat-label>

          <input formControlName="email" matInput />
        </mat-form-field>
      </div>
      
    </div>
  </div>
</form>
<!--{{useForm.value | json}}>-->


<div class="d-flex justify-content-end" mat-dialog-actions>
  <button mat-dialog-close="" mat-button>Cancelar</button>
  <button (click)="onSave()" mat-button>Guardar</button>
</div>
